
/* Link styles */
:link, :visited, a em {
 text-decoration: none;
 color: #283f6b;
 border-bottom: 1px dotted #bbb;
}

/* Ticket priorities */
table.tickets tbody tr.prio2 { background: #fdc; border-color: #e88 }
table.tickets tbody tr.even.prio2 { background: #fed; border-color: #e99 }
table.tickets tbody tr.prio3 { background: #ffb; border-color: #eea }
table.tickets tbody tr.even.prio3 { background: #ffd; border-color: #dd8 }
table.tickets tbody tr.prio4  { background: #fbfbfb; border-color: #ddd }
table.tickets tbody tr.even.prio4 { background: #f6f6f6; border-color: #ccc }
table.tickets tbody tr.prio5 { background: #e7ffff; border-color: #cee }
table.tickets tbody tr.even.prio5 { background: #dff; border-color: #bee }
table.tickets tbody tr.prio6 { background: #e7eeff; border-color: #cde }
table.tickets tbody tr.even.prio6 { background: #dde7ff }

/* Wiki page headings */
h1 { font-size: 22px; }
h2 { font-size: 18px; }
h3 { font-size: 14px; }

/* Floating things */
.l-float {
	float: left;
	margin-right: 1cm;
}
.l-clear {
	clear: left;
}
.r-float {
	float: right;
	margin-left: 1cm;
}
.r-clear {
	clear: right;
}
